<div class="content" *ngIf="(stocks$ | async) as stocks; else loading">
  <div class="stocks-wrap">
    <div class="stock-wrap__stock-item" *ngFor="let stock of stocks" (click)="navigateToStockDesecription(stock.ticker)">
      <span class="stock-wrap__name">Ticker: {{ stock.ticker }}</span>
      <span class="stock-wrap__price">Price: {{ stock.price }}</span>
      <span class="stock-wrap__date"
        >Last change:
        {{ stock.last_trade_time | date: "dd:MM:yyyy, HH:mm:ss" }}</span
      >
      <div *ngIf="stock.yield > 1; else arrowDown">
        <span class="stock-wrap__arrowUp">
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            arrow_upward
          </mat-icon>
        </span>
      </div>
      <ng-template #arrowDown>
        <span class="stock-wrap__arrowDown">
          <mat-icon aria-hidden="false" aria-label="Example home icon">
            arrow_downward
          </mat-icon>
        </span>
      </ng-template>
    </div>
  </div>
  <div class="switchers" [formGroup]="form">
    <ul>
      <li class="switchers__item" *ngFor="let switcher of switchers">
        <label>
          <input type="checkbox" [formControlName]="switcher.ticker" />
          <span class="switchers__label">{{ switcher.ticker }}</span>
        </label>
      </li>
    </ul>
  </div>
</div>

<ng-template #loading>
  <div>
    <mat-spinner class="loader"></mat-spinner>
  </div>
</ng-template>
