.content {
    margin: 20px 20% 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.stocks-wrap{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.stock-wrap__stock-item{
    color: honeydew;
    background-color: rgb(85, 84, 84);
    border-radius: 8px;
    border: 1px solid rgb(85, 84, 84);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}
.stock-wrap__stock-item:hover {
    background-color: rgba(153, 156, 121, 0.4);
}
.stock-wrap__stock-item:active {
    background-color: rgba(77, 78, 61, 0.4);
}

.stock-wrap__stock-item + .stock-wrap__stock-item {
     margin-top: 10px;
}
.stock-wrap__arrowDown{
    color: rgb(231, 15, 15);
}
.stock-wrap__arrowUp{
    color: rgb(19, 172, 19);
}

.switchers {
    flex-grow: 1;
    padding: 30px;
    background-color: rgb(85, 84, 84);
    margin-left: 10px;
    border-radius: 8px;
}
.switchers__item{
    color: honeydew;
    list-style: none;
    font-size: 1.6rem;
}
.switchers__item + .switchers__item {
    margin-top: 15px;
}

.switchers__label {
    padding-left: 10px;
}

 .loader{
     margin: auto;
 }